PORT=3008
NODE_ENV=development
CATALOG_SERVICE_URL=http://localhost:3002
INVENTORY_SERVICE_URL=http://localhost:3003
ORDER_SERVICE_URL=http://localhost:3006
DELIVERY_SERVICE_URL=http://localhost:3007
LOG_LEVEL=info
