PORT=3004
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5504/cart_db
REDIS_URL=redis://localhost:6379
CATALOG_SERVICE_URL=http://localhost:3002
INVENTORY_GRPC_HOST=localhost
INVENTORY_GRPC_PORT=50051
LOG_LEVEL=info
