PORT=3006
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5506/order_db
KAFKA_BROKERS=localhost:9092
INVENTORY_SERVICE_URL=http://localhost:3003
CART_SERVICE_URL=http://localhost:3004
IDENTITY_SERVICE_URL=http://localhost:3001
LOG_LEVEL=info
